{% include 'header.html' %}
<body>

<!-- LOGIN-->
{% if success%}
  <div class="panel-heading">
                <strong>{{success}} </strong>
                <a href="/ulogin">Click here to Login.</a><br />
            </div>
{%else%}
<div>
	<div class="col-lg-offset-5">
		<label  class="control-label"><h1>Password Reset</h1></label>
	</div>
	<div class="col-lg-5 col-sm-offset-3">
	
	<form class="form-horizontal" role="form" action="/forgot_password/" method="POST">
	{% csrf_token %}
  		<div class="form-group">
    		<label for="inputEmail3" class="col-sm-2 control-label">Username</label>
    		<div class="col-sm-10">
      		<input type="text" class="form-control" id="inputEmail3" placeholder="Enter Username" required="required" name="username">
    		</div>
  		</div>
  		
  		<div class="form-group">
    		<div class="col-sm-offset-2 col-sm-10">
      			<button type="submit" class="btn btn-danger">Confirm Reset Password</button>
    		</div>
  		</div>
	</form>
	</div>
</div>
<!--end -->	

<!-- Error Messasge -->
<div > 
	<div class="col-lg-offset-8 " >
	              {% if error %}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Oopz!</strong> 
                    {{error}}
                </div>           
                {% endif %}
            
	</div>
</div>
<!-- end -->
	{% endif %}
</body>
</html>
{% include 'footer.html' %}