
.mainHeading
{
	color: white;
	font-style: bold;
	font-size: 18pt;
}
.vertical-center {
  
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.Error
{
		color: red;
	font-style: bold;
	font-size: 12pt;

}
.profile_bg
{
	background-color: #d3d3d3;
}
body
{
	overflow: hidden;
	margin-top: 70px;
}
.verticalSpace
{
	margin-top: 50px;
}